<div class="container">
	<div class="center jumbotron">
	  <h1>Welcome To PromptCloud</h1>

	  <%= link_to "SCHEDULE A PILOT", new_client_path, class: "btn btn-lg btn-primary" %>
	</div>
</div>
